node_modules
npm-debug.log
.git
.gitignore
README.md
.env*
*.md
Dockerfile*
docker-compose*
.next
out
coverage
.nyc_output
*.log
*.lock
*.tmp
*.swp
.DS_Store
Thumbs.db
.github
.vercel
.eslintrc*
.prettierrc*
.husky
.vscode
*.pem
*.key
*.crt
ssl/